{% extends 'base.html' %} {% block title %}contact Page {% endblock%}
<!-- Add your site or app content here -->
{% block content %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2">03 : Contact me</h1>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p>Thank you I will get in touch with you, shortly!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
